.App {
  text-align: center;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.App-header {
  font-size: 100px;
  color: white;
  font-weight: 800;
  font-family: 'Times New Roman', Times, serif;
}
canvasDraw {
  border: 1px solid black;
  width: 700px;
  height: 500px;
  background-color: whitesmoke;
}

h3 {
  color: whitesmoke
}

h1 {
  color: whitesmoke
}


